// Body
$body-bg: #F7F4D5;
$font-family-sans-serif: 'Plus Jakarta Sans', sans-serif;
$font-size-base: 0.925rem;
$line-height-base: 1.65;
$primary: #105666;
$secondary: #7A8C6E;
$success: #839958;
$warning: #D3968C;
$danger: #B8705E;
